<br />
<br />
<div class="container">
  <div class="block">
    <div id="h1">click</div>
    <p>shower</p>
    <button class="btn btn-primary" id="hide">hide</button>
    <button class="btn btn-primary" id="show">show</button>
    <button class="btn btn-primary" id="submit">submit</button>
  </div>
  <br />
  <div
    id="div1"
    style="display: none; background-color: aqua; width: 100px; height: 100px"
  ></div>
  <div class="container" id="div2"></div>
</div>
<button id="gettext">get text</button>
<br />
<p id="has">this is strong to get text</p>
<button id="settext">set text</button>
<%= javascript_pack_tag 'custom' %>
